@charset "UTF-8";

:root{
    --cor-manha: #fde782;
    --cor-tarde: #c57c4f;
    --cor-noite: #011f41;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(106, 106, 219);
    color: white;
}

header{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 10px;
}

h1{
    display: flex;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-weight: bold;
}

section{
    text-align: center;
    width: 80vw;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.425);
    /* margin-top: 20vh; */
    padding: 10px;
}

div{
    margin: 5px;
    color: black;
    padding: 5px;
}

#msg{
    font-size: 1.3em;
    font-weight: bold;
}

footer{
    text-align: center;
    position: relative;
    margin-top: 2vh;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.2em;
}