*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(107, 107, 241);
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    width: 100vw;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

h1{
    margin-top: 15vh;
}

section{
    width: 85vw;
    /* height: 100wh; */
    position: absolute;
    bottom: 50;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: white;
    border-radius: 1.5vw;
    padding: -1.5vw;
    box-shadow: 0.6vw 0.6vw 0.15vw rgba(0, 0, 0, 0.363);
}

footer{
    width: 100vw;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    color: white;
    margin-bottom: 1vh;
}

div{
    
    padding: 2vh;
    display: flex;
    justify-content: center;

}

#image{
    width: 50%;
    max-width: 300px;
}

